body{
  margin:0;
  font-family: system-ui;
  background:#0f172a;
  color:white;
}

/* HEADER */
header{
  display:flex;
  justify-content:space-between;
  padding:15px;
  background:#111827;
  align-items:center;
}

.logo{
  font-weight:bold;
  letter-spacing:1px;
}

.admin-gear{
  font-size:22px;
  cursor:pointer;
}

/* NAV */
.nav{
  display:flex;
  gap:10px;
  padding:10px;
  background:#1f2937;
  overflow:auto;
}

button{
  border:none;
  padding:10px 14px;
  border-radius:10px;
  background:#374151;
  color:white;
  cursor:pointer;
}

button:hover{
  background:#4b5563;
}

.primary{
  background:#2563eb;
  width:100%;
  margin-top:10px;
}

/* PAGES */
.page{
  padding:15px;
}

/* INPUTS */
input, textarea{
  width:100%;
  padding:12px;
  margin-top:10px;
  border-radius:10px;
  border:none;
  outline:none;
}

/* FEED */
#feed div{
  background:#1f2937;
  padding:10px;
  margin-top:10px;
  border-radius:12px;
}

img{
  border-radius:10px;
}

/* HIDE */
.hidden{
  display:none;
}